<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    
    <link rel="stylesheet" href="/stylesheets/chat.css">

    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/script/socketIO.js"></script>
  </body>
</html>