<% include head %>

</head>
  <body>
      <!-- div(class="row window chat-box-container")
      form(id="chatBox" method="" )
          input(id="chat" class="chat-box" type="text")
          span
              button(class="btn btn-primary" type='submit') Send -->
    <ul id="messages"></ul>
    <form id="chatBox" method="">
      <input id="chat" autocomplete="off" type="text"/><span></span><button type="submit">Send</button>
    </form>
  </body>
</html>