<% include head %>
</head>
    <body>
      <canvas id="gameCanvas" width="5000" height="4000"></canvas>
      <script src="/script/shapes.js"></script>
      <script src="/script/canvasGame.js"></script>
  </body>
</html>
