<% include head %>
  
    <body>
      <canvas id="gameCanvas" width="700" height="500"></canvas>
      <script src="/script/shapes.js"></script>
      <script src="/script/canvasGame.js"></script>
  </body>
</html>
