<% include head %>
</head>
    <body>
      <canvas id="gameCanvas"></canvas>
      <script src="/script/singlePlayer.js"></script>
      <script src="/script/shapes.js"></script>
      <script src="/script/canvasGame.js"></script>
  </body>
</html>
