<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/stylesheets/leaderboard.css" />
  </head>

  <body>
    <div class="leaderboard">
      <!-- <a href="window.location='/menu';">Return To Menu</a> -->
      <input type="submit" value="Return to Menu" onclick="window.location='/menu';" class="myButton"/>

      <h1>
        <br />
        Leaderboards <br />
        <div class="menu-container">
          <p class="name">Name</p>
          <p class="score">Score</p>
        </div>
      </h1>
      <ol>
        <% results.forEach((result,i)=>{ %>
        <li>
          <div><%= `${i+1}. ${result.displayname}` %></div>
          <div><%= result.highscore %></div>
        </li>
        <% }) %>
      </ol>
    </div>
  </body>
</html>
