<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div class="leaderboard">
      <h1>
        Leaderboards
      </h1>
      <ol>
        <li value="1">
          <mark>Player 1</mark>
          <small>100</small>
        </li>
        <li>
          <mark>Player 2</mark>
          <small>301</small>
        </li>
        <li>
          <mark>Player 3</mark>
          <small>292</small>
        </li>
        <li>
          <mark>Player 4</mark>
          <small>245</small>
        </li>
        <li>
          <mark>Player 5</mark>
          <small>203</small>
        </li>
      </ol>
    </div>
  </body>
</html>
