<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/stylesheets/leaderboard.css" />
  </head>

  <body>
    <div class="leaderboard">
      <h1>
        Leaderboards <br />
        <h2>Name Score</h2>
      </h1>
      <ol>
        <% results.forEach((result)=>{ %>
        <li><%= result.displayname %> <%= result.highscore %></li>
        <% }) %>
      </ol>
    </div>
  </body>
</html>
