<% include head %>
<link rel="stylesheet" href="/stylesheets/menu.css">

<div class="title">Hello, <%= name %> !</div>
    <section>
        <div class="container">
        </div>
              <div class="play">
                  <input type="submit" value="Solo Mode" onclick="window.location='/single';" class="btn btn-primary mt-4"/>
                  <input type="submit" value="Multiplayer" onclick="window.location='/game';" class="btn btn-primary mt-4"/>
                  <input type="submit" value="Logout" onclick="window.location='/login';" class="btn btn-primary mt-4"/>
                  <input type="submit" value="LeaderBoard" onclick="window.location='/Leaderboard';" class="btn btn-primary mt-4"/>
                </div>

      </section>
