<% include head %>
<link rel="stylesheet" href="/stylesheets/menu.css">

<form action="/menu" method="POST" class= "menu">
    <section>
        <div class="container">
                  <p class="text-h3"> <%name%> </p>
                </div>
              <div class="play">
                  <button type="Play" class="btn btn-primary mt-4">Solo Mode</button>
                  <button type="Play" class="btn btn-primary mt-4">Multiplayer</button>
                  <button type="exit" class="btn btn-primary mt-4">Logout</button>
                  <button type="exit" class="btn btn-primary mt-4">LeaderBoard</button>
                </div>

      </section>
</form>