<% include head %>

<link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <canvas id="Server_view">
</canvas>
<div id="player_view"></div>
    <% include overlay %>
    <div id="message_cont">
        <ul id="messages"></ul>
            <form id="chatBox" method="">
              <input id="chat" autocomplete="off" type="text"/><span></span><button type="submit">Send</button>
            </form>
        </div>
    <script src="/script/shapes.js"></script>
    <script src="/script/multiplayer.js "></script>
    <script src="/script/controls.js"></script>
</body>