<% include head %>

<link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    
    <canvas id="Server_view">
</canvas>
<form id="start_up_menu" class="hidden">
    <h1>Welcome !</h1>
    <input type="color"name="color">
    <button type="submit">Create Player</button>
</form>
<div id="mini_map">
    <div id="player_mini_pos"></div>
</div>
<div id="player_view"></div>
    <% include overlay %>
    <div id="message_cont">
        <ul id="messages"></ul>
            <form id="chatBox" method="">
              <input id="chat" autocomplete="off" type="text"/><span></span><button type="submit">Send</button>
            </form>
        </div>
    <script src="/script/shapes.js"></script>
    <script src="/script/multiplayer.js "></script>
    <script src="/script/controls.js"></script>
    <script src="/script/minimap.js"></script>
    
</body>