<% include head %>
<script src="/script/multiplayer.js "></script>
<link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <canvas id="Server_view">
        <div id="Player_view"></div></div>
    </canvas>
    <div id="message_cont">
        <ul id="messages"></ul>
            <form id="chatBox" method="">
              <input id="chat" autocomplete="off" type="text"/><span></span><button type="submit">Send</button>
            </form>
    </div>
</body>