<% include head %>
<link rel="stylesheet" href="/stylesheets/register.css">

<form action="/registerProcess" method="POST" class= "register">
  
    <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
              <div class="row">
                <div class="col text-center">
                  <h1>Register To Play...</h1>
                  <p class="text-h3">Welcome to Planet of the Shapes! </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col mt-4">
                  <input type="text" name= "displayname" class="form-control" placeholder="Display Name">
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col">
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="col">
                  <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
              <div class="row justify-content-start mt-4">
    
                  <input type="submit" class="btn btn-primary mt-4" />
                </div>
              </div>
            </div>

            <div class="row justify-content-start mt-4 rrr">

                <a href="http://localhost:3000/" class="button" >
                  Back to Home
                  </a>
                </div>



          </div>
        
      </section>
</form>