<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Planet Of the Shapes</title>

    <!-- stylesheet for game  -->
    <link href="GameStylesheet/gameStyle.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Peta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

    <!-- script file for sound and music -->
    <script src="JS/soundEffect.js"></script>

</head>

<body>
    <canvas id="canvas" width="800" height="600"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div id="startGame">
            <a href="javascript:void(0)" class="button play"><span class ="click">CLICK</span> to Enter the Battle Frontier</a>
          </div>

    <div id="game-over">
            <h2>Your Score is <span id="score"></span> Pts</h2>
            <a href="javascript:void(0)" class="button restart">Try again?</a>
            <a href="javascript:void(0)" class="button heaven"> Try Hell Mode?</a>

          </div>
    <script>
        var playerScore= <%- HighScore %>;
        var playerName= '<%= playerName %>';
        console.log('this is player name: ',playerName)
    </script>
    <script src="JS/globalVariable.js"></script>
    <script src="JS/startingGame.js"></script>

    <script src="JS/game.js"></script>
    <script src="JS/shape.js"></script>
    <script src="JS/triangleSpaceShip.js"></script>
    <script src="JS/gameover.js"></script>
    <script src="JS/newGame.js"></script>



<div class="instructions active">
    <p><u>Mission</u> <br> Shoot Down Enemy Shapes</p>
    <p> <u>3 Lives </u></p>

    <p>
        <u>Controls </u><br>
        Press LEFT and RIGHT to turn
        <br> 
         UP to propel.
        <br>
        Press SPACE to Shoot.
    </p>
        
    </div>

    <div class="instructions active">
            <p><u>Mission</u> <br> Shoot Down Enemy Shapes</p>
            <p> <u>3 Lives </u></p>
        
            <p>
                <u>Controls </u><br>
                Press LEFT and RIGHT to turn
                <br> 
                 UP to propel.
                <br>
                Press SPACE to Shoot.
                <br>
                <!-- <button class = "home"> <h1><a href="http://localhost:3000/menu">Return to Home </a> </h1></button> -->
                <input type="submit" value="Return to Menu" onclick="window.location='/menu';" class="myButton"/>
            </p>
                
            </div>

          
  
    

</body>

</html>