body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background-image: url("../images/giphylogo.gif");
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 610px;
  height: auto;
  background: linear-gradient(to top, Moccasin, goldenrod);
  border-radius: 20px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  padding: 10px;
  text-align: center;
}
h2 {
  display: block;
  align-content: space-between;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

li {
  display: flex;
  /* list-style-type: default; */
  z-index: 2;
  overflow: visible;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 25px;
}
