body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #f39264 0%,
    #f2606f 100%
  );
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 410px;
  background: linear-gradient(to top, Moccasin, goldenrod);
  border-radius: 20px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

ol {
  counter-reset: leaderboard;
}

small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

li {
  z-index: 2;
  overflow: visible;
  display: flex;
  justify-content: space-between;
}
mark {
  background-color: inherit;
  color: white;
}
