body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blanchedalmond;
  z-index: -2
 

}

a {
  color: #00B7FF;
}
canvas{
  position: absolute;
  z-index: -2;
  
  border:solid;
  background-color: white;
}
#overlay{
  position: relative;
  border:solid;
  width: 6005px; 
  height: 6005px; 
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  
}
#overlay>div {
  position: relative;
  z-index: -1;
  border: solid lightgray 1px;
  text-align: center;
  font-size: 30px;
}

#player_view{
  position: absolute;
<<<<<<< HEAD
  width:1%;
  height:100%;
}

#mini_map{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  opacity: 0.5;
  border: solid;
  background-color: gray;
}

#player_mini_pos{
  position: relative;
  width:5px;
  height: 5px;
  background-color: yellow;
  border:solid white;
  opacity: 1;
}
=======
  width:inherit;
  height:inherit;
}

  /* background-color: blue; */
}

>>>>>>> d8eb47aa666ae50adf56e0abb43a0f22fc8848ab
